<a href="https://colab.research.google.com/github/valentijnbongers/bacis_python_functions/blob/main/DataType_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Dictionaries
Video Outline:
1. Introduction to Dictionaries
2. Creating Dictionaries
3. Accessing Dictionary Elements
4. Modifying Dictionary Elements
5. Dictionary Methods
6. Iterating Over Dictionaries
7. Nested Dictionaries
8. Dictionary Comprehensions
9. Practical Examples and Common Errors

##### Introduction to Dictionaries

Dictionaries are unordered collections of items. They store data in key-value pairs.
Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [27]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [28]:
## Creating Dictionaries
empty_dict={}
print(empty_dict)

{}

In [29]:
empty_dict=dict()
empty_dict

{}

In [30]:
student={"name":"Valentijn","age":18,"grade":10}
print(student)
print(type(student))

{'name': 'Valentijn', 'age': 18, 'grade': 10}
<class 'dict'>

In [31]:
# Single key is always used
student={"name":"Valentijn","age":18,"name":24}
print(student)

{'name': 24, 'age': 18}

In [32]:
## accessing Dictionary Elements
student={"name":"Valentijn","age":18,"grade":'A'}
print(student)

{'name': 'Valentijn', 'age': 18, 'grade': 'A'}

In [33]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
18
A
None
Not Available

In [34]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Valentijn', 'age': 18, 'grade': 'A'}

In [35]:
student["age"]=21  ##update value for the key
print(student)
student["address"]="Kuala Lumpur" ## added a new key and value
print(student)

{'name': 'Valentijn', 'age': 21, 'grade': 'A'}
{'name': 'Valentijn', 'age': 21, 'grade': 'A', 'address': 'Kuala Lumpur'}

In [36]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Valentijn', 'age': 21, 'address': 'Kuala Lumpur'}

In [37]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Valentijn', 21, 'Kuala Lumpur'])
dict_items([('name', 'Valentijn'), ('age', 21), ('address', 'Kuala Lumpur')])

In [38]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Valentijn', 'age': 21, 'address': 'Kuala Lumpur'}
{'name': 'Valentijn', 'age': 21, 'address': 'Kuala Lumpur'}

In [39]:
student["name"]="Valentijn2"
print(student)
print(student_copy)

{'name': 'Valentijn2', 'age': 21, 'address': 'Kuala Lumpur'}
{'name': 'Valentijn2', 'age': 21, 'address': 'Kuala Lumpur'}

In [40]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'Valentijn2', 'age': 21, 'address': 'Kuala Lumpur'}
{'name': 'Valentijn2', 'age': 21, 'address': 'Kuala Lumpur'}

In [41]:
student["name"]="Valentijn3"
print(student_copy1)
print(student)

{'name': 'Valentijn2', 'age': 21, 'address': 'Kuala Lumpur'}
{'name': 'Valentijn3', 'age': 21, 'address': 'Kuala Lumpur'}

In [42]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [43]:
## Iterate over values
for value in student.values():
    print(value)

Valentijn3
21
Kuala Lumpur

In [44]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key} : {value}")

name : Valentijn3
age : 21
address : Kuala Lumpur

In [45]:
## Nested Disctionaries
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [46]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [47]:
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [48]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [49]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [50]:
## Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [51]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [52]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

#### Conclusion
Dictionaries are powerful tools in Python for managing key-value pairs. They are used in a variety of real-world scenarios, such as counting word frequency, grouping data, storing configuration settings, managing phonebooks, tracking inventory, and caching results. Understanding how to leverage dictionaries effectively can greatly enhance the efficiency and readability of your code.

In [53]:
# Creating a Dictionary
# Using curly braces
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Using dict() constructor
my_dict = dict(name="Bob", age=25, city="Los Angeles")
print(my_dict)  # Output: {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}

In [54]:
# Accessing Values
my_dict = {"name": "Alice", "age": 30}
print(my_dict["name"])  # Output: Alice

Alice

In [55]:
# Adding or Updating Items
my_dict["age"] = 31  # Update existing key
my_dict["country"] = "USA"  # Add new key-value pair
print(my_dict)  # Output: {'name': 'Alice', 'age': 31, 'country': 'USA'}

{'name': 'Alice', 'age': 31, 'country': 'USA'}

In [56]:
# Removing Items
# Example using pop()
removed_value = my_dict.pop("city", None)  # Remove key and return its value
print(removed_value)  # Output: None (if key not found)
print(my_dict)        # Output: {'name': 'Alice', 'age': 31}

# Example using del
del my_dict["age"]
print(my_dict)        # Output: {'name': 'Alice'}

None
{'name': 'Alice', 'age': 31, 'country': 'USA'}
{'name': 'Alice', 'country': 'USA'}

In [57]:
# Iterating Through a Dictionary
# Example of iterating through keys and values
for key, value in my_dict.items():
    print(f"{key}: {value}")
# Output: name: Alice, country: USA

name: Alice
country: USA

In [58]:
# Using Nested Dictionaries
# Example of nested dictionaries
my_family = {
    "child1": {"name": "Emil", "year": 2004},
    "child2": {"name": "Tobias", "year": 2007},
}
print(my_family["child1"]["name"])  # Output: Emil

Emil

In [59]:
# Dictionary Comprehensions
# Example of dictionary comprehension
squares = {x: x**2 for x in range(5)}
print(squares)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [60]:
# Merging Dictionaries
# Example using update()
dict_a = {"a": 1, "b": 2}
dict_b = {"b": 3, "c": 4}
dict_a.update(dict_b)
print(dict_a)   # Output: {'a': 1, 'b': 3, 'c': 4}

# Example using | operator (Python 3.9+)
merged_dict = dict_a | dict_b
print(merged_dict)   # Output: {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [61]:
# Getting Keys and Values
# Example of getting keys and values
keys = my_dict.keys()
values = my_dict.values()
print(keys)   # Output: dict_keys(['name'])
print(values) # Output: dict_values(['Alice'])

dict_keys(['name', 'country'])
dict_values(['Alice', 'USA'])

In [62]:
# Default Values with get()
# Example using get()
value = my_dict.get("city", "Not Found")
print(value)   # Output: Not Found (since city key does not exist)

Not Found

In [ ]:
# Merging Dictionaries