<a href="https://colab.research.google.com/github/valentijnbongers/bacis_python_functions/blob/main/DataTypes_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Sets
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [3]:
my_set=set([1,2,3,4,5,6,7,6,5,2,3,1])
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [4]:
my_empty_set=set([1,2,3,6,5,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [5]:
## Basics Sets Operation
## Adiing and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [6]:
## Remove the elements from a set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [7]:
my_set.remove(10)

KeyError: 10

In [8]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [9]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [10]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [11]:
## Set Memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [13]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [14]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
print(set1.difference(set2))

{1, 2, 3}

In [15]:
set1

{1, 2, 3, 4, 5, 6}

In [16]:
set2.difference(set1)

{7, 8, 9}

In [17]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [19]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [20]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [22]:
### Counting Unique words in text

text="In this tutorial we we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'In', 'discussing', 'this', 'tutorial', 'we', 'are', 'about', 'sets'}
8

#### Conclusion
Sets are a powerful and flexible data type in Python that provide a way to store collections of unique elements. They support various operations such as union, intersection, difference, and symmetric difference, which are useful for mathematical computations. Understanding how to use sets and their associated methods can help you write more efficient and clean Python code, especially when dealing with unique collections and membership tests.

In [23]:
# Creating a Set
fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'banana', 'cherry', 'apple'}

{'banana', 'cherry', 'apple'}

In [24]:
# Adding Items to a Set
# Example
fruits.add("orange")
print(fruits)  # Output: {'banana', 'cherry', 'apple', 'orange'}

{'orange', 'banana', 'cherry', 'apple'}

In [25]:
# Removing Items from a Set
# Example
fruits.remove("banana")
print(fruits)  # Output: {'cherry', 'apple', 'orange'}

{'orange', 'cherry', 'apple'}

In [26]:
# Using discard() Method
# The discard() method removes an item from the set but does not raise an error if the item is not found.
# Example
fruits.discard("grape")  # No error raised
print(fruits)  # Output: {'cherry', 'apple', 'orange'}

{'orange', 'cherry', 'apple'}

In [27]:
# Finding the Length of a Set
print(len(fruits))  # Output: 3

3

In [28]:
# Set Union
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print(union_set)  # Output: {1, 2, 3, 4, 5}
# Or using |
print(set_a | set_b)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [29]:
# Set Intersection
# Example
intersection_set = set_a.intersection(set_b)
print(intersection_set)  # Output: {3}
# Or using &
print(set_a & set_b)     # Output: {3}

{3}
{3}

In [31]:
# Set Difference
difference_set = set_a.difference(set_b)
print(difference_set)  # Output: {1, 2}
# Or using -
print(set_a - set_b)   # Output: {1, 2}

{1, 2}
{1, 2}