<a href="https://colab.research.google.com/github/valentijnbongers/bacis_python_functions/blob/main/DataTypes_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[2])
print(numbers[-1])

3
6

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [10]:
## Tuple Operations
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [11]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Valentijn"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Valentijn', 3, 4, 5]

In [16]:
type(numbers)

tuple

In [17]:
numbers[1]="Valentijn"

TypeError: 'tuple' object does not support item assignment

In [18]:
numbers

(1, 2, 3, 4, 5, 6)

In [19]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [20]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [21]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [22]:
type(a)

int

In [23]:
type(b)

str

In [24]:
type(c)

float

In [25]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [26]:
type(first)

int

In [27]:
type(middle)

list

In [28]:
type(last)

int

In [29]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [30]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [31]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [32]:
num1 = nested_tuple[1][2]
type(num1)

str

In [33]:
num1 = nested_tuple[0][2]
type(num1)

int

In [35]:
num1 = nested_tuple[2][1]
type(num1)

bool

In [ ]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

In [36]:
# Example Creating a Tuple
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

In [37]:
# Accessing Elements
# Example
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[1])  # Output: banana

banana

In [38]:
# Tuple Unpacking
# Example
coordinates = (10, 20)
x, y = coordinates
print(x, y)  # Output: 10 20

10 20

In [39]:
# Using Tuples as Dictionary Keys
# Example
location_dict = {}
location_dict[(10, 20)] = "Point A"
print(location_dict)  # Output: {(10, 20): 'Point A'}

{(10, 20): 'Point A'}

In [40]:
# Storing Multiple Return Values
# Example
def min_max(values):
    return (min(values), max(values))

result = min_max([3, 1, 4, 1, 5])
print(result)  # Output: (1, 5)

(1, 5)

In [41]:
type(result)

tuple

In [43]:
# Immutability
# Example
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [44]:
# Nested Tuples
# Example
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1])      # Output: (3, 4)
print(nested_tuple[1][0])   # Output: 3

(3, 4)
3

In [45]:
# Tuple Methods
# Example
my_tuple = (1, 2, 3, 2)
print(my_tuple.count(2))   # Output: 2
print(my_tuple.index(3))    # Output: 2

2
2

In [46]:
# Concatenation and Repetition
# Example
tuple_a = (1, 2)
tuple_b = (3, 4)
combined = tuple_a + tuple_b   # Concatenation
repeated = tuple_a * 3          # Repetition

print(combined)   # Output: (1, 2, 3, 4)
print(repeated)   # Output: (1, 2, 1, 2, 1, 2)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [47]:
# Using Tuples for Data Integrity
# Example of using tuples to store configuration settings.
config = ('localhost', '8080', True)
# This ensures the configuration settings cannot be altered accidentally.

In [48]:
# Tuple Unpacking

# Example of tuple unpacking
person = ("Alice", 30, "Engineer")
name, age, profession = person
print(name)       # Output: Alice
print(age)        # Output: 30
print(profession) # Output: Engineer

Alice
30
Engineer

In [49]:
# Using Tuples as Dictionary Keys
# Example of using tuples as dictionary keys
location_data = {}
location_data[(10.0, 20.0)] = "Location A"
location_data[(30.0, 40.0)] = "Location B"
print(location_data)  # Output: {(10.0, 20.0): 'Location A', (30.0, 40.0): 'Location B'}

{(10.0, 20.0): 'Location A', (30.0, 40.0): 'Location B'}

In [50]:
# Returning Multiple Values from Functions
# Example of returning a tuple from a function

def calculate_statistics(numbers):
    total = sum(numbers)
    average = total / len(numbers)
    return total, average

stats = calculate_statistics([10, 20, 30])
print(stats)  # Output: (60, 20.0)

(60, 20.0)

In [51]:
# Nested Tuples
# Example of nested tuples
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1])      # Output: (3, 4)
print(nested_tuple[1][0])   # Output: 3

(3, 4)
3

In [52]:
# Nested Tuples
# Example of nested tuples
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1])      # Output: (3, 4)
print(nested_tuple[1][0])   # Output: 3

(3, 4)
3

In [54]:
# Immutability for Data Integrity
# Example of using tuples for configuration settings
config = ("localhost", "8080", True)
config[0] = "127.0.0.1"  # This would raise a TypeError since tuples are immutable.

TypeError: 'tuple' object does not support item assignment

In [55]:
# Using tuple() Constructor with Iterables
# Example of creating a tuple from a list
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

In [56]:
# Tuple Comprehensions Using Generator Expressions
# Example of creating a tuple using a generator expression
squared_numbers = tuple(x**2 for x in range(5))
print(squared_numbers)  # Output: (0, 1, 4, 9, 16)

(0, 1, 4, 9, 16)

In [57]:
# Sorting Tuples
# Example of sorting a list of tuples by the second element
data = [(1, 'apple'), (3, 'banana'), (2, 'cherry')]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)  # Output: [(1, 'apple'), (3, 'banana'), (2, 'cherry')]

[(1, 'apple'), (3, 'banana'), (2, 'cherry')]

In [58]:
# Sorting Tuples
# Example of sorting a list of tuples by the second element
data = [(1, 'apple'), (3, 'banana'), (2, 'cherry')]
sorted_data = sorted(data, key=lambda x: x[0])
print(sorted_data)  # Output: [(1, 'apple'), (3, 'banana'), (2, 'cherry')]

[(1, 'apple'), (2, 'cherry'), (3, 'banana')]

In [59]:
# Tuple Repetition and Concatenation
# Example of concatenating and repeating tuples
tuple1 = (1, 2)
tuple2 = (3, 4)
combined = tuple1 + tuple2   # Concatenation
repeated = tuple1 * 3         # Repetition

print(combined)   # Output: (1, 2, 3, 4)
print(repeated)   # Output: (1, 2, 1, 2, 1, 2)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [60]:
# Using Tuples in Data Structures

from collections import namedtuple

# Example of using namedtuples to create more readable structures
Point = namedtuple('Point', ['x', 'y'])
p = Point(10, 20)
print(p.x)   # Output: 10
print(p.y)   # Output: 20

10
20