<a href="https://colab.research.google.com/github/valentijnbongers/bacis_python_functions/blob/main/Python_basics_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Functions in Python
Video Outline:
1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

##### Introduction to Functions
Definition:

A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [2]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [3]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [4]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
## Call this function
even_or_odd(24)

the number is even

In [6]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [10]:
## Default Parameters

def greet(name):
    print(f"Hello {name}, Welcome To the paradise")

greet("Valentijn")

Hello Valentijn, Welcome To the paradise

In [11]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

greet("Valentijn")

Hello Valentijn Welcome To the paradise

In [12]:
### Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*valentijn):
    for number in valentijn:
        print(number)

In [13]:
print_numbers(1,2,3,4,5,6,7,8,"Valentijn")

1
2
3
4
5
6
7
8
Valentijn

In [ ]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [ ]:
print_numbers(1,2,3,4,5,6,7,8,"Krish")

1
2
3
4
5
6
7
8
Krish

In [ ]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [ ]:
print_details(name="Krish",age="32",country="India")

name:Krish
age:32
country:India

In [ ]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")

    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [ ]:
print_details(1,2,3,4,"Krish",name="Krish",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Krish
name:Krish
age:32
country:India

In [ ]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [ ]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)